@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


body {
    margin: 0;
}


/* Header Style */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1920px;
    margin: 0;
    padding: 30px 230px;
    background-color: #fff4e7;
}

.logo {
    font-size: 45px;
    font-weight: 600px;
}

.menu {
    display: flex;
    gap: 50px;
}

.menu > li {
    list-style: none;
    font-size: 18px;
    font-weight: 400;
}