@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


body {
    margin: 0;
}

main {
    
}

/* Header Style */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    margin: auto;
    padding: 0px 230px;
    background-color: #fff4e7;
}

.logo {
    font-size: 45px;
    font-weight: 600px;
    margin: 10px 0;
    padding: 10px;
}

.logo > h3 {
    margin: 0;
    padding: 10px 0;
}

.menu {
    display: flex;
    gap: 50px;
}

.menu > li {
    list-style: none;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}

/* Banner Style */

.banner {
    padding: 50px 0;
    background-color: #fff4e7;
    text-align: center;
}

.banner > div {
    width: 1440px;
    margin: auto;
}

.banner-title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 64px;
    font-weight: 700;
}

.banner-description {
    margin: auto;
    max-width: 868px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
}

.primary-btn {
    background-color: #FF900E;
    padding: 20px 25px;
    margin-bottom: 50px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
